<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.balancedpayments.android"
          android:versionCode="1"
          android:versionName="1.1-SNAPSHOT">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-sdk android:minSdkVersion="19"/>
    <application />
</manifest>
